page-contact {
    .top-bg {
        vertical-align: middle;
        position: relative;
        z-index: 999;
    }
    .top-bar {
        position: relative;
        z-index: 1000;
        margin-top: -3rem;
        p {
            border-top-left-radius: 1.5em;
            border-top-right-radius: 1.5em;
            margin: 0;
            padding: 16px 32px;
            background: #6bbd46;
            color: white;
            font-size: 2rem;
        }
        img {
            position: absolute;
            top: -16px;
            right: 16px;
            height: 80px;
            // box-shadow: -2px 2px 10px grey;
        }
    }
    .btn-back {
        position: absolute;
        top: 1em;
        left: 1em;
        z-index: 1000;
        background: transparent;
        height: 2em;
        &.activated {
            background: transparent;
            opacity: .2;
        }
        ion-icon {
            padding: 0 .2em;
        }
    }
    ion-card {
        ion-item {
            padding-left: 0 !important;
            .item-inner {
                border-bottom: solid 1px #999 !important;
                ion-label {
                    color: #999 !important;
                }
                
            }
            
        }
        button {
            background: #6bbd46 !important;
            color: white !important; 
        }
    }

    .icon-size{

        width: 100%;
        text-align: center;
        color: blue;
         font-size: 80px;
    }
    
}
